:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.container {
    width: 960 px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-nav ul {
    margin: 0em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5m;
}

@media (min-width: 960px) {
    .header .container {
        justify-content: space-between;
    }
}

.main-nav-list ul {
    display: inline;
    vertical-align: center;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
    padding-left: 8px;
    padding-right: 8px;
}

.main-nav-list button {
    color: white;
    background-color: black;
    border-color: none;
    border-style: none;
    border-radius: 8px;
    padding: 12px 12px 12px 12px;
    margin-left: 5px;
    font: inherit;
    text-transform: uppercase;
}

.quote-page {
    /* line-height: 105px; */
    margin-right: 20px;
    flex-grow: 1;
    min-height: 100vh;
    justify-content: space-between;
}

#main-quote {    
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    font-size: 8vw;
    font-weight: 400;
    text-align: right;
    letter-spacing: -0.05em;
    flex-grow: 1;
}

.helptext {
    display: flex;
    font-size: 12px;
    font-weight: light;
    letter-spacing: normal;
    text-align: left;
    /* margin-top: 75px; */
    align-items: flex-end;
}

#flip {
    height: 15vh;
    overflow: hidden;
}

#flip > div > div {
    /* padding: 4vw 3vw;
    height: 10vh;
    margin-bottom: 10vh; */
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    font-weight: 900;
}

#flip div:first-child {
    animation: show 8s linear infinite;
}

@keyframes show {
    0% {margin-top:-30vh;}
    5% {margin-top:-25vh;}
    33.33% {margin-top:-10vh;}
    38% {margin-top:-7.5vh;}
    66.66% {margin-top:-7.5vh;}
    71% {margin-top:0;}
    99.99% {margin-top:0;}
    100% {margin-top:-20vh;}
}


